{
  "arrowParens": "avoid",
  "semi": false,
  "prettier.singleQuote": true,
  "overrides": [
    {
      "files": ["**/*.css", "**/*.js", "**/*.scss", "**/*.html"],
      "options": {
        "singleQuote": true
      }
    }
  ]
}
